
footer {
  
  margin: 0;
  padding: 0;
}


.footer-section {
background: linear-gradient(180deg, #001a1f, #000);
  color: #ccc;
  margin: 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;
}

.footer-title {
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.footer-text {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #00ff99;
}

.footer-social a {
  color: #00ff99;
  font-size: 1.2rem;
  margin: 0 8px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social a:hover {
  color: #fff;
  transform: translateY(-3px);
}

.footer-divider {
  border-top: 1px solid #222;
  margin: 20px 0;
}
