/* navbar.css */

.navbar-custom .nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-custom .nav-item {
  position: relative;
}

.navbar-custom .nav-link {
  color: var(--nav-color);
  font-size: 15px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  padding: 15px 14px;
}

.navbar-custom .nav-link:before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 2px;
  left: 0;
  background-color: var(--nav-hover-color);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-custom .nav-link:hover:before,
.navbar-custom .nav-link.active:before {
  visibility: visible;
  width: 25px;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
  color: var(--nav-hover-color);
}






